@font-face {
     font-family: Shift;
     src: url("../fonts/shift-bold.woff");
}


// UNIVERSAL STYLES - Styles that can be reused, throughout the project.
* {
     margin: 0;
     padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: Shift;
}

h3 {
     font-size: 25px;
}

.heading-txt-shadow {
     text-shadow: -2px 0px 7px #5a5a5a;
}

p,
ul,
a {
     font-size: 20px;
     list-style-type: none;
     font-family: Arial, Helvetica, sans-serif;
}

.disp-inBlock {
     display: inline-block;
}

.disp-flex {
     display: flex;

     &.direct-col {
          flex-direction: column;
     }

     &.jc-center {
          justify-content: center;
     }

     &.jc-spArnd {
          justify-content: space-around;
     }

     &.jc-spBtw {
          justify-content: space-between;
     }

     &.ai-center {
          align-items: center;
     }

     &.ai-start {
          align-items: flex-start;
     }

     &.ai-end {
          align-items: flex-end;
     }

     &.gap-80 {
          gap: 80px;
     }

     &.gap-70 {
          gap: 70px;
     }

     &.gap-60 {
          gap: 60px;
     }

     &.gap-50 {
          gap: 50px;
     }

     &.gap-40 {
          gap: 40px;
     }

     &.gap-30 {
          gap: 30px;
     }

     &.gap-20 {
          gap: 20px;
     }

     &.gap-10 {
          gap: 10px;
     }
}

.mrg-l-15 {
     margin-left: 15px;
}

.mrg-l-20 {
     margin-left: 20px;
}

.mrg-l-30 {
     margin-left: 30px;
}

.mrg-l-35 {
     margin-left: 35px;
}

.mrg-r-15 {
     margin-right: 15px;
}

.mrg-r-20 {
     margin-right: 20px;
}

.mrg-r-30 {
     margin-right: 30px;
}

.mrg-r-35 {
     margin-right: 35px;
}

.mrg-b-20 {
     margin-bottom: 20px;
}

.mrg-b-10 {
     margin-bottom: 10px;
}

.mrg-t-b-20 {
     margin: 20px 0;
}

.pad-t-100 {
     padding-top: 100px;
}

.pad-40 {
     padding: 40px;
}

.pad-10 {
     padding: 10px;
}

.pad-5 {
     padding: 5px;
}

.white-txt {
     color: white;
}

.green-txt {
     color: #48941a;
}

.txt-center {
     text-align: center;
}

.txt-right {
     text-align: right;
}

.f-size-200 {
     font-size: 200px;
}

.f-size-260 {
     font-size: 260px;
}

.f-size-35 {
     font-size: 35px;
}

.btn {
     background: transparent;
     border: none;
     color: yellow;
     cursor: pointer;
     text-decoration: none;

     .icon {
          font-size: 50px;
          transform: rotateZ(45deg);
     }
}



// STYLES SPECIFIC TO INDIVIDUAL SECTIONS
.intro,
.first,
.fifth,
.sixth,
.seventh,
.eighth {
     width: 100%;
     height: 100vh;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.intro {
     background-image: url("../images/bkgs/intro.jpg");
}

.first {
     background-image: url("../images/bkgs/1.jpg");
}

.fifth {
     background-image: url("../images/bkgs/5.jpg");
}

.sixth {
     background-image: url("../images/bkgs/6.jpg");
}

.seventh {
     background-image: url("../images/bkgs/7.jpg");
}

.eighth {
     background-image: url("../images/bkgs/8.jpg");
}


.second,
.third {
     min-height: 100vh;
     background: transparent;

     padding: 100px;
}

.fourth {
     position: relative;

     .bkg-and-img-container {
          width: 100%;
          height: 150vh;
          position: absolute;
          background: #270c39;
          z-index: -999999999999999999;

          .flood-lights {
               width: 100%;
               height: 80vh;
               background-image: url("../images/bkgs/4_2.png");
               background-attachment: scroll;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
          }
     }

     .field-img-container {
          min-height: 100vh;
          background: transparent;

          padding: 100px;

          .row {
               h2{
                    font-size: 70px;
               }
               p {
                    width: 700px;
                    font-size: 20px;
                    text-align: center;
               }
          }
     }
}

.content-container {
     min-width: 1100px;

     h1 {
          color: white;
          font-size: 70px;
          margin-bottom: -20px;
     }

     .text-container {

          &.w-700 {
               width: 700px;
          }
          &.w-600 {
               width: 600px;
          }
          &.w-500 {
               width: 500px;
          }

          &.white-bkg {
               background: rgba(255, 255, 255, 0.7);
          }

          h2 {
               font-size: 60px;
          }

          li {
               &.white-bkg {
                    background: white;
               }

               &.right-borders-rounded {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
               }

               &.left-borders-rounded {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
               }
          }
     }

     .img-container {
          width: 500px;

          &.w-200 {
               width: 200px;
          }

          &.w-300 {
               width: 300px;
               padding: 2px;
               background: white;
          }

          &.w-400 {
               width: 400px;
          }

          &.brdr-rad-50 {
               border-radius: 50%;
          }

     }

     img {
          width: 100%;

          &.w-105-pct {
               width: 105%;
          }

          &.w-200 {
               width: 200px;
          }

          &.w-250 {
               width: 250px;
          }

          &.img-circle {
               border-radius: 50%;
          }

          &.white-border {
               border: 10px solid white;
          }
     }

     .video-container{
          position: relative;
          width: 500px;

          .video-link{
               position: absolute;
               top: 10px;
               right: 10px;
               
               padding: 6px 10px;

               background: #6a6c74;
               border-radius: 50px;
               color: white;
               text-decoration: none;
               font-size: 12px;

               .yt-icon{
                    font-size: 20px;
                    color: red;
               }
               .title{
                    text-decoration: underline;
               }
               .ext-icon{
                    font-size: 8px;
                    margin-top: -5px;
               }
          }
     }
}

nav {
     position: fixed;
     top: 20px;
     right: 20px;
     z-index: 99999999999999999999999999999999999999;

     &::before {
          content: "";
          width: 5px;
          height: 95%;

          background: white;

          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          z-index: -1;
     }

     li {
          position: relative;


          &:hover {
               img {
                    transition: 0.5s ease;
                    transform: scale(1.1);
               }

               .tooltip {
                    visibility: visible;
                    opacity: 1;
                    transform: translate(-110%, -40%);
               }
          }

          .tooltip {
               min-width: 120px;
               padding: 8px;

               border: 3px solid black;
               border-radius: 2px;
               background: white;
               font-size: 12px;

               position: absolute;
               top: 40%;
               left: 0;
               transform: translate(-100%, -40%);

               visibility: visible;
               opacity: 0;
               transition: transform 0.2s ease-in, opacity 0.2s ease-in;
               pointer-events: none;

               &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    margin-top: -8px;
                    border-width: 8px;
                    border-style: solid;
                    border-color: transparent transparent transparent black;
               }
          }
     }

     ;

     img {
          box-sizing: border-box;
          width: 50px;
          height: 50px;
          border: 5px solid white;
          border-radius: 50%;
          background: white;
     }
}

.bounce-anime {
     animation: bounce 6s ease-in-out infinite;
}

@keyframes bounce {
     0% {
          box-shadow: -20px 90px 180px 70px rgba(0, 0, 0, 0.6);
          transform: translatey(0px);
     }

     50% {
          box-shadow: -20px 110px 180px 70px rgba(0, 0, 0, 0.3);
          transform: translatey(-35px);
     }

     100% {
          box-shadow: -20px 90px 180px 70px rgba(0, 0, 0, 0.6);
          transform: translatey(0px);
     }
}